

body, h1{
    margin: 0;
    padding: 0;
}

.title-text{
    font-size: 5rem;
    font-weight: bolder;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

.game-board{
    width: 100vw;
    height: auto;
    display: none; /*display grid */
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto)
}

.cell{
    
    border: 1px solid black;
    width: 150px;
    height: 150px;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.controls{
    background-color: red;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button{
    padding: 20px 20px;
    border-radius: 20px;
    border: none;
}

.pilih-mode{
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
}

.form-container{
    display: none;  /* display: block; */
}


#my-form{
    display: grid; /* display: grid; */
    font-size: 30px;
    background-color: red;
    width: 500px;
    height: 500px;
    padding: 50px;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.397);
    margin: 20px;

    grid-template-columns: 1fr;
}