

body, h1{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font: bold;
    font-size: 2em;
}


.title-form{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.title-text{
    font-size: 5rem;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 31, 44);
    width: 100vw;
    height: 100vh;
}

.game-board{
    width: 100vw;
    height: auto;
    display: none; /*display grid */
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto)
}

.turn{
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
}

.won{
    display: none;
    font-weight: bold;
    color: white;
    font-size: 4em;
    background-color: rgb(255, 30, 0);
    padding: 50px;
    border: 1px solid black;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 0.6rem #ffee00,
    0 0 0.8rem #ffee00,
    0 0 1rem #ffee00,
    inset 0 0 1.3rem #ffee00; 
    position: absolute;
    top: 300px;

}

.cell{
    
    border: 1px solid black;
    background-color: rgb(23, 23, 114);
    width: 150px;
    height: 150px;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0004ff,
    0 0 82px #0004ff,
    0 0 92px #0004ff,
    0 0 102px #0004ff,
    0 0 151px #0004ff;

    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 0.6rem #ff0000,
    0 0 0.8rem #ff0000,
    0 0 1rem #ff0000,
    inset 0 0 1.3rem #ff0000; 
}

.controls{
    background-color: rgb(10, 31, 44);
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button{
    padding: 20px 20px;
    border-radius: 20px;
    border: none;
}

.pilih-mode{
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
}

.form-container{
    display: none;  /* display: block; */
}


#my-form{
    display: grid; /* display: grid; */
    font-size: 30px;
    background-color: rgb(23, 23, 114);
    width: 500px;
    height: 500px;
    padding: 50px;
    border: 1px solid black;
    margin: 20px;
    color: white;
    font-weight: bold;
    grid-template-columns: 1fr;

    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 0.6rem #8c00ff,
    0 0 0.8rem #8c00ff,
    0 0 1rem #8c00ff,
    inset 0 0 1.3rem #8c00ff; 
}

#player_1Name,
#player_2Name,
#submit{
    font-weight: bold;
    font-size: 0.8em
}



#reset{
    display: none;
    padding: 20px 40px;
    margin-bottom: 30px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(23, 23, 114);
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 0.6rem #8c00ff,
    0 0 0.8rem #8c00ff,
    0 0 1rem #8c00ff,
    inset 0 0 1.3rem #8c00ff; 
}